:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #a9a9a9;
  --dark-blue: #64809b;
  --light-blue: #9bc6f0;
}
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
/*  */
/* NAV */
/*  */
nav {
}
/*  */
/* ALL */
/*  */
.section {
  min-height: 100vh;
  background-color: var(--black);
}
/*  */
/* MAIN */
/*  */
.section-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  .main-left {
    img {
      box-shadow: var(--black) -28px 28px 0px -2px, var(--white) -28px 28px;
    }
  }
  .main-right {
    max-width: 420px;
    color: var(--white);

    .main-right-top {
      p {
        font-size: 50px;
        line-height: 58px;
        font-weight: bold;
      }
    }
    .main-right-bot {
      p {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1px;
        text-align: justify;
      }
    }
  }
}
/*  */
/* MEMBERS */
/*  */
.section-members {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .member-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--white);
    color: var(--white);
    max-width: 300px;
    align-items: center;
    gap: 14px;

    .member-nickname {
      p {
        font-size: 35px;
      }
    }
    .member-specialty {
      p {
        font-size: 18px;
        text-align: center;
      }
    }
    .member-quote {
      p {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}
